<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group container">
    <h1>Cadastro de Usuários</h1>
    <p>Preencha seus dados para criar sua conta.</p>
    <hr>

    <app-input-field email
    formControlName="email"
    [classeCss]="aplicaCssErro('email')" type="text"
    placeholder="Entre com o email"
    id="email" label="Email" [control]="formulario.get('email')">
    </app-input-field>

    <app-input-field
    formControlName="senha"
    [classeCss]="aplicaCssErro('senha')"
    type="password"
    placeholder="Entre com a senha"
    id="senha"
    label="Senha"
    [control]="formulario.get('senha')">
    </app-input-field>

    <app-input-field
    type="password"
    id="confirmacao"
    label="Confirme a senha"
    placeholder="Repita a senha"
    formControlName="confirmacao"
    [classeCss]="aplicaCssErro('confirmacao')"
    [control]="formulario.get('confirmacao')"></app-input-field>


    <div class="clearfix">
      <button type="submit" class="signupbtn">Cadastrar</button>
    </div>
  </div>
</form>
