<div class="container">
  <h1>Cadastro de Usuários</h1>
  <p>Preencha seus dados para criar sua conta.</p>
  <hr>

  <label for="email"><b>Email</b></label>
  <input type="email" email placeholder="Entre com o email"
  [(ngModel)]="email" required name="email">


  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Entre com a senha"
  [(ngModel)]="senha" required name="password">


  <label for="psw-repeat"><b>Repita a senha</b></label>
  <input type="password" placeholder="Repita a senha" [(ngModel)]="confirmacao" required>

  <div class="clearfix">
    <button (click)="cadastre()" class="signupbtn">Cadastrar</button>
  </div>
</div>
