<!-- <div class="itemgrafico"> <app-grafico></app-grafico> </div> -->
<div class="flip-container"
[class.hover]="status">
    <div class="flipper">
      <div class="front">
          <div class="card">
              <div class="card-header">Header</div>
              <div class="card-body"><app-grafico *ngIf="carregadoValores" [descricoes]="descricoes" [valores]="valores"></app-grafico></div>
              <div class="card-footer" (click)="flip()" >Exibir despesas detalhadas</div>
            </div>

      </div>
      <div class="back">
          <div class="card">
              <div class="card-header">Header</div>
              <div class="card-body item"><app-grafico-detalhes *ngIf="carregadoValores" [itens]="itemsAberto"></app-grafico-detalhes></div>
              <div class="card-footer" (click)="flip()" >Exibir Gráfico</div>
          </div>
      </div>
    </div>
  </div>

