<!-- Tab links -->
<div class="tab">
  <button class="tablinks" (click)="fechadas()" [class.active]="activeTab=='fechadas'">Fechadas</button>
  <button class="tablinks" (click)="abertas()" [class.active]="activeTab=='abertas'">Abertas</button>  
  <button class="tablinks" (click)="alocacao()" [class.active]="activeTab=='alocacao'">Alocacao</button>
  <button class="tablinks" (click)="importa()" [class.active]="activeTab=='importa'">Importa</button>
  <button class="tablinks" (click)="logout()">Sair</button>
</div>

<!-- Tab content -->
<div id="London" class="tabcontent">
  <h3>Home</h3>
  <p>Pagina Inicial.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Sair</h3>
  <p>Sair da Aplicacao.</p>
</div>
