<div class="item">
    <app-datas (mudoumes)="mudouFiltro($event) "
    [inicial]="0"
    [exibirMes]= false
    [anoatual]="anoSelecionado"
    [tipoatual]="'TODOS'" ></app-datas>
</div>
<!-- <div class="itemgrafico"> <app-grafico></app-grafico> </div> -->
<div>
  <!-- <div class="item">
    <div class="card-body"><app-grafico *ngIf="carregadoValores" [descricoes]="descricoes" [valores]="valores"></app-grafico></div>
  </div> -->
  <div class="item">
    <div class="flip-container"
    [class.hover]="status">
        <div class="flipper">
          <div class="front">
              <div class="card itemcard">
                  <div class="card-header">Header</div>
                  <div class="card-body">
                    <!-- <app-grafico-detalhes
                      [observableItens]="observableItemsAberto">
                    </app-grafico-detalhes> -->
                  </div>
                  <div class="card-footer" (click)="flip()" >Exibir Gráfico</div>
              </div>

          </div>
          <div class="back">
              <div class="card itemcard">
                  <div class="card-header">Header</div>
                  <div class="card-body">
                    <app-grafico-evolucao-patrimonial
                    *ngIf="carregadoValores"
                    [conteudo]="conteudoGraficoObservable">
                  </app-grafico-evolucao-patrimonial></div>
                  <div class="card-footer" (click)="flip()" >Detalhar...</div>
                </div>
          </div>
        </div>
      </div>


  </div>
</div>
