<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group conteudo">
    <div class="imgcontainer">
      <img src="assets/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="form-group">

      <!-- <label for="name"><b>Email</b></label>
      <input type="email" class="form-control" placeholder="Entre com o email"
      [(ngModel)]="email"
      email formControlName="email"
       > -->
       <app-input-field class="col-sm-12" formControlName="email"
       [classeCss]="aplicaCssErro('email')" type="text"
       id="email" label="Email" [control]="formulario.get('email')">
      </app-input-field>

      <app-input-field class="col-sm-12" formControlName="senha"
      [classeCss]="aplicaCssErro('senha')" type="password"
      id="senha" label="Senha" [control]="formulario.get('senha')">
     </app-input-field>

      <!-- <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Entre com a senha"
      [(ngModel)]="senha" formControlName="password"> -->

    </div>
    <button type="submit">Login</button>


    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn" (click)="novoUsuario()">Novo Usuário</button>
      <!-- <a routerLink="/cadastro" >Cadastro </a> -->
      <span class="psw">Esqueceu a <a href="#">senha?</a></span>
    </div>
  </div>
</form>
