<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="conteudo">
    <div class="imgcontainer">
      <img src="assets/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="form-group">
      <label for="name"><b>Email</b></label>
      <input type="email" class="form-control" placeholder="Entre com o email" [(ngModel)]="email" email name="email" required>      
    </div>
    
    <div class="form-group">
      <label for="psw"><b>Password</b></label>
      <input type="password" class="form-control" placeholder="Entre com a senha" [(ngModel)]="senha" name="password" required>
    </div>
    <button class="btn btn-primary botaologin" type="submit" [disabled]="!f.valid">Login</button>
  </div> 
</form> 
