<div class="card-body">
  <div *ngIf="item.entrada.existeValor()">
    <div class="titulo">
      <h4 class="card-title">{{ item.entrada.papeis[0].empresa }}</h4>
      <h5 class="card-text item">{{ dicionarioTipos[item.tipo] }}</h5>
      <h5 class="card-text item">Resultado: {{ item.resumo.lucroOuPrejuizo| currencyFormat }}</h5>
    </div>
    <div class="itemCard">
      <div class="card-text"><h5>Entrada</h5></div>
      <div class="card-text">Natureza: {{ item.entrada.papeis[0].natureza }}</div>
      <div class="card-text">Data: {{ item.entrada.ObtenhaData() | date: 'dd/MM/yyyy'}}</div>
      <div class="card-text">Quantidade: {{ item.entrada.quantidade }}</div>
      <div class="card-text">Valor Médio: {{ item.entrada.ValorMedio()| currencyFormat  }}</div>
    </div>
    <div class="itemCard" *ngIf="item.saida.existeValor() || item.saida.ObtenhaData() !== undefined">
      <div class="card-text"><h5>Saída</h5></div>
      <!-- <div *ngIf="item.saida.papeis.count !== 0" class="card-text">Natureza: {{ item.saida.papeis[0].natureza }}</div> -->
      <div class="card-text">Data: {{ item.saida.ObtenhaData() | date: 'dd/MM/yyyy' }}</div>
      <div class="card-text">Quantidade: {{ item.saida.quantidade }}</div>
      <div class="card-text">Valor Médio: {{ item.saida.ValorMedio()| currencyFormat }}</div>
      
    </div>

    <div *ngIf="item.saida.ObtenhaData() !== undefined" class="detalhe">
        <app-item-dashboard-detalhes [item]="item.resumo" [exibirDetalhesGeral]="exibirDetalhesGeral"></app-item-dashboard-detalhes>
    </div>
  </div>
</div>
